#homevideo{
   position:relative;
  min-width: 100%;
  min-height: 50%;
}

 .headingabout{
   font-weight: bolder;
   font-size: 30px;
   text-align: left;
   
   
 } 
 .paragraphinfo{
   font-size: 20px;
   text-align: justify;    
   line-height: auto;
   width: auto;
    
 }

 .paragraphinfo em{
    font-size: 25px;
   line-height: 50px;
    
 } 

 .peopleimg{
    width: 100%;
 }
 .aboutimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 30%;
 } 
 
 .Nametitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
 }

 
.map{
    width: 400px;
    height: 300px;
    border: 0;   
}
.imggallery{
   width: 100%;
}


table.footercontent{
table-layout: auto;
width: 100%; 

}
.footerleft{
   text-align: left;
   width:60%;
   
}
.footerright{
   text-align: left;
   
}
.footerright img{
  width: 25%;
  padding: 10px;
  float:left;
}

.main3 h3{
   text-align: center;
   text-decoration:underline;
   font-size: 2em;
}

.previousbtn{
   background-color: rgb(68, 47, 255);
   color: white;
   border: 50px;
   font-size: 20px;
   text-align: center; 
   padding: 15px 32px;
   float: left;
}
.Nowbtn{
   background-color: gold;
   color: white;
   border: 50px;
   font-size: 20px;
   text-align: center; 
   padding: 15px 32px;
   float: right;
}
/*CSS for mostly festival page*/
.event{
   text-align: center;
   float: inherit;
   padding: 25px;
}

.event img{
   width:25%;
   border: 5px solid blue;
   float: right;
   margin-right: 5%;
   margin-bottom: 10px;
}

.heading {
   font-size: 30px;
   font-weight: bolder;
}
.subheading{
   font-size: 25px;
}

.flex-infocontainer .subheading{
   text-align: center;
}
.flex-infocontainer .heading{
   line-height: auto;
   text-align: center;
}
.flex-infotextonly .heading{
   margin: 2%;
   text-align: center;
}
.flex-infotextonly .paragraphinfo{
   margin: 1%;
}
.flex-infocontainer .flex-infotextonly .paragraphinfo{
   text-align: c;
}


/*Festival CSS END*/


@media screen and  (max-width: 670px ) {
   #homevideo{
      width: 200px;

   }
   .paragraphinfo{
      text-align: left;
      width:400px;

   }
   .paragraphinfo b{
      font-size: 20px;
      line-height: 0;
   }

   .map{
      display: none;
   }
}