#homevideo{
   position:relative;
  min-width: 100%;
  min-height: 50%;
}
.importntinfo{
   text-align: center;
  
 }
 .headingabout{
   font-weight: bolder;
   font-size: 30px;
   text-align: left;
   
   
 } 
 .paragraphinfo{
    font-size: 20px;
    text-align: justify;    
   line-height: auto;
   width: auto;
    
 }
 .paragraphinfo b{
    font-size: 25px;
   line-height: 50px;
    
 }
 .cellsize{
    width: 200px;
    padding: 30px;
 }
 

 .peopleimg{
    width: 100%;
 }
 .aboutimg{
    width:100px;
 }
 
 table.aboutalign{
   margin-top: 50px;
   margin-left: 100px;
   margin-right: auto;
 }
 

 table.center{
    margin-left: auto;
    margin-right: auto;
 }
 .center td{
    width: 400px;
 }
 .Nametitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
 }

 
.multiplemap{
   float: left;
   margin-left: 10%;
   margin-top: 2%;
   margin-bottom: 2%;

   }
 
.map{
    width: 400px;
    height: 300px;
    border: 0;   
}



@media screen and  (max-width: 500px) {
   #homevideo{
      width: 200px;

   }
   .map{
      width:100px;
      height: 100px;
   }
}