#homevideo{
   position:relative;
  min-width: 100%;
  min-height: 50%;
}
.importntinfo{
   text-align: center;
  
 }
 .headingabout{
   font-weight: bolder;
   font-size: 30px;
   text-align: left;
   
   
 } 
 .paragraphinfo{
    font-size: 20px;
    text-align: justify;    
   line-height: auto;
   width: auto;
    
 }
 .paragraphinfo b{
    font-size: 25px;
   line-height: 50px;
    
 }
 .cellsize{
    width: 200px;
    padding: 30px;
 }
 

 .peopleimg{
    width: 100%;
 }
 .aboutimg{
    width:100px;
 }
 
 table.aboutalign{
   margin-top: 50px;
   margin-left: 100px;
   margin-right: auto;
 }
 

 table.center{
    margin-left: auto;
    margin-right: auto;
 }
 .center td{
    width: 400px;
 }
 .Nametitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
 }

 
.multiplemap{
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 500px;
   

   }
   .multiplemap td{
      font-size: 20px;
      text-align: center;
   }
 
.map{
    width: 400px;
    height: 300px;
    border: 0;   
}


table.footercontent{
table-layout: auto;
width: 100%; 

}
.footerleft{
   text-align: left;
   width:70%;
}
.footerright{
   text-align: left;
   
}
.footerright img{
  width: 25%;
  padding: 10px;
  float:left;
}
table.imggallery{
   margin-left: auto;
   margin-right: auto;

}
.imggallery img{
  width: 100%;
   
}


@media screen and  (max-width: 670px ) {
   #homevideo{
      width: 200px;

   }
   .paragraphinfo{
      text-align: left;
      width:400px;

   }
   .paragraphinfo b{
      font-size: 20px;
      line-height: 0;
   }

   .map{
      width:100px;
      height: 100px;
   }
}