

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main2 main2 main2 right right'
    'menu main3 main3 main3 right right'
    'menu footer footer footer footer footer';
   
    background-color: bisque;
   
  }
  .header { grid-area: header; }
.menu { grid-area: menu; }
.main  { 
    grid-area: main; 
    background-color: lightblue;
}
.main2 {
    grid-area: main2;
    background-color: #FEFD9A;
}
.main3{ 
    grid-area: main3; 
    background-color: lightblue;
}
.right { grid-area: right; }
.footer { 
    grid-area: footer; 
    background-color: yellow;
}
