
/*Grids - Main layout for the webpage*/
.grid-container{
    /*Setting up the layout of the gird,
    Set each area down the webgae to be 
    different section, header all the way to Footer*/
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'main3 main3 main3 main3 main3 main3'
    'footer footer footer footer footer footer';
   
    background-color: bisque;
   
  }
  .header {
       grid-area: header; 
       background-color: yellow;
    }
.main  { 
    grid-area: main; 
    background-color: lightblue;
}
.main2 {
    padding: 20px;
    grid-area: main2;
    background-color: #FEFD9A;
}
.main3{ 
    padding: 20px;
    grid-area: main3; 
    background-color: lightblue;
}
.footer { 
    grid-area: footer; 
    background-color: yellow;
}

/*Flex-box*/
.flex-container{
    /*Set display of the container, for this one flex, 
    while above would have been grid*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.peoplelibary{
    /*Flex syle create how many item can fit on the row, 
    lower the item more items fit on the row and higher less items */
    flex:0 24% ; 
    height: auto;
    margin-bottom: 15%;
    text-align: justify;
}
/*Slightly different flexbox option to work
better with the phto gallery*/
.imggallery-item{
    flex:0 30% ; 
    height: auto;
}

/*Flex box for the infomation section
this flex box countiune to make new box in the same row.*/
.flex-infocontainer{
    display: flex; 
    justify-content: center;  
    margin: 2%; 
}

.infoitem{
    width: 500px;    
}

.flex-infotextonly{
    display: flex;
    /*Setting the flexbox to go downward ranther than cross.*/
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.flex-infotextonly .infoitem{
   width: 50%;
   text-align: justify;
   
}

.flex-Map{
    display: flex;
    justify-content: center;
    align-items: center;

}
.map-item{
    width: 32%;
    padding-bottom: 18%;
    margin-bottom: 2%
}
