
/*Grids - Main layout for the webpage*/
.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'main3 main3 main3 main3 main3 main3'
    'footer footer footer footer footer footer';
   
    background-color: bisque;
   
  }
  .header {
       grid-area: header; 
    }
.main  { 
    grid-area: main; 
    background-color: lightblue;
}
.main2 {
    padding: 20px;
    grid-area: main2;
    background-color: #FEFD9A;
}
.main3{ 
    padding: 20px;
    grid-area: main3; 
    background-color: lightblue;
}
.footer { 
    grid-area: footer; 
    background-color: yellow;
}

/*Flex-box*/
.flex-container{
    /*Set display of the container, for this one flex, 
    while above would have been grid*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.peoplelibary{
    /*Flex syle create how many item can fit on the row, 
    lower the item more items fit on the row and higher less items */
    flex:0 24% ; 
    height: auto;
    margin-bottom: 15%;
    text-align: justify;
}
.imggallery-item{
    flex:0 30% ; 
    height: auto;
}



.flex-infocontainer{
    display: flex; 
    justify-content: center;  
    margin: 2%; 
}
.infoitem{
    width: 500px;    
}
