/*Defining all the main propeties for site,
The font size, font, etc*/
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;    
    color: #fae5df;
    
}

h1{
  font-size: 2em;
  padding-bottom: 2em;
}
h2{
  font-size: 1.8em;
  padding-bottom: 1.5em;
}
h3{
  font-size: 1.6em;
  padding-bottom: 1em;
}

a{
  text-decoration: none;
}

/*Grids - Main layout for the webpage*/
.grid-container{
    /*Setting up the layout of the gird,
    Set each area down the webgae to be 
    different section, header all the way to Footer*/
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'main3 main3 main3 main3 main3 main3'
    'footer footer footer footer footer footer';
   
   
  }
  /*Setting a class for each section of grid and
  assigning a background colour */
  .header {
       grid-area: header; 
       background-color: #303179;
    }
.main  { 
    grid-area: main; 
    background-color: #fae5df;
    color: #303179;
}
.main2 {
    padding: 20px;
    grid-area: main2;
    background-color: #eee0e0;
    color: #303179;
}
.main3{ 
    padding: 20px;
    grid-area: main3; 
    background-color: #fae5df;
    color: #303179;
}
.footer { 
    grid-area: footer; 
    background-color: #303179;
}

/*Flex-box*/
.flex-container{
    /*Set display of the container, for this one flex, 
    while above would have been grid*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.peoplelibary{
    /*Flex syle create how many item can fit on the row, 
    lower the item more items fit on the row and higher less items */
    flex:0 24% ; 
    height: auto;
    margin-bottom: 15%;
    text-align: justify;
    color: #303179;
}
/*Slightly different flexbox option to work
better with the phto gallery*/
.imggallery-item{
    flex:0 30% ; 
    height: auto;
}

/*Flex box for the infomation section
this flex box countiune to make new box in the same row.*/
.flex-infocontainer{
    display: flex; 
    justify-content: center;  
    margin: 2%; 
}

 /*The basic item for the flexbox, flex-infocontainer*/
.infoitem{
    width: 500px;    
}



.flex-infotextonly{
    display: flex;
    /*Setting the flexbox to go downward ranther than cross.*/
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.flex-infotextonly .infoitem{
   width: 50%;
   text-align: justify;
   
}
/*Footer Flex, split the box to be on both side of
page, allowing for content being on left and also on the right*/
.flex-footer{
    display: flex; 
    flex-flow: row wrap;
/*Content starts on left where flex box is starting from*/
    align-content: flex-start;
    margin: 2%;  
    text-align: justify;
}
/*Using same class (infoitem), just changing some of the
propeties in the class, the width and the margin*/
.flex-footer .infoitem{
    /*Setting each box/item in flex box to take up halve the page*/
    width: calc(50% - 9px);
    margin: 0 5px 10px 0;
    
}

/*Main Header item CSS begins
The navbar class set the basic info for the whole navbar, mainly the background
colour*/
.navbar {
  overflow: hidden;
  background-color: #1d236f;
  
  
}
 /*Navbar a, set all the links and the propties need for each*/
.navbar a {
  float: left;
  margin-left: 2%;
  color: #fae5df;
	font-weight: bold;
  text-align: center;
  padding: 40px 43px;
  text-decoration: none;
  font-size: 25px;
}

 /*When user is currently on the page, that page link is shown in different colour 
 plus underline.*/
.navbar a.active, button.active, .dropdown a.active, .dropbtn.active{
  text-decoration: underline;	
  background-color: #3e4491;
  color: #fae5df;
}

.dropdown {
	float: left;
	overflow: hidden;
	}
	
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: #fae5df;
  font-weight: bold;
  padding: 40px 43px;
  background-color: #1d236f;
  font-family: inherit;
  margin: 0; 
}

 /*when the mouse hover a link tag, the text become underlined*/
.navbar a:hover, .dropdown:hover .dropbtn,.dropdown-content a:hover {
  text-decoration: underline;
}
/* Drop down meun for the about contel */
.dropdown-content {
  display: none;
  position: absolute;
 background-color: #1d236f;
 min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fae5df;
  padding: 40px 43px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar a.icon{
  display: none;
}
/*making the nav bar stay on screen when scrolling*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}


  /*a tag styling to look more like a button*/
  .donatebtn{
      background-color: rgb(253, 235, 238);
      color: #141850;
      border-radius: 30px;
      font-size: 20px;
       /*Different font for the button to stand out more and look better*/
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center; 
      padding: 15px 32px;
      float: right;
       
  }
 /*button hover, change colour*/
  .donatebtn:hover{
      text-decoration: solid;
      background-color:#ed7966 ;
      color: blue;
  }
  #gallerybtn{
    float: none;
    display: block;
    background-color:#141850 ;
    color:#eebcb4;

  }
  #gallerybtn:hover{
    text-decoration: solid;
    background-color:#3641d1 ;
    color: rgb(208, 164, 77);
  }
 /*Seprate social button class, to change size of image and fix
 layout on the screen*/
   .social{
    width: 40px;
    padding: 10px;
    float: right;
     /*Move it slightly away from the top*/    
    margin-top: 2%;
     /*move it slightly away from the donate button, leaving reasonable space*/
    margin-right: 2%;
   }

  .socialgroup{
    display: block;
  }
  .socialgroup .social{
    float: none;
  }
/*Main Body CSS begins
Setting seprate heading, and paragraph tag so able more freely use text and not relaie on 
the h and p tag*/
  
.heading {
    font-size: 30px;
    font-weight: bolder;
 }
 .subheading{
    font-size: 25px;
 }
 
 .paragraphinfo{
    font-size: 20px;
    text-align: justify;    
    width: auto;
     
  }
 
  .paragraphinfo em{
     font-size: 25px;
    line-height: 50px;    
  } 

 #homevideo{
   position:relative;
    /*Setting the min-width to be 100% so it cover the whole
    screen*/
   min-width: 100%;
   min-height: 50%;
 }
 
 .headingabout{
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    
    
  } 
  /*different classes to set size to all the image*/
  .peopleimg{
     width: 100%;
  }
  .aboutimg{
     display: block;
     margin-top: 10%;
     margin-left: auto;
     margin-right: auto;
    width: 30%;
  } 
 
 .flex-infotextonly .paragraphinfo .aboutimg{
    
    border: solid #1d236f 10px;
    margin-top: 0;
    margin-bottom: 2%;
    width: 40%;
    
 }
  
  .imggallery{
    width: 100%;
 }
   
  .Nametitle{
     text-decoration: underline;
     font-weight: bold;
     font-size: 20px;
  }
   
 .map{
     width: 400px;
     height: 300px;
     border: 0;   
 }
  
 .main3 h3{
    text-align: center;
    text-decoration:underline;
    font-size: 2em;
 }
 
 .previousbtn{
    background-color: rgb(68, 47, 255);
    color: white;
    border: 50px;
    font-size: 20px;
    text-align: center; 
    padding: 15px 32px;
    float: left;
 }
 .Nowbtn{
    background-color: gold;
    color: white;
    border: 50px;
    font-size: 20px;
    text-align: center; 
    padding: 15px 32px;
    float: right;
 }
 
 .flex-infocontainer .subheading{
    text-align: center;
 }
 .flex-infocontainer .heading{
    text-align: center;
 }
 .flex-infotextonly .heading{
    margin: 2%;
    text-align: center;
 }
 .flex-infotextonly .paragraphinfo{
    margin: 1%;
 }


 
 .flex-footer .donatebtn{
   margin-top: 2%;
 }
 
 .main .infoitem, .main2, .main3{
    color: #303179;
 }
 
 .footer h3{
    text-align: right;
    margin-top: 0;
    padding-bottom: 0;
    font-weight: lighter;
 }
 .footer h4{
   font-size: 23px;
   margin-bottom: -2%;
 }

 .footer a:visited{
    color: #e11e00;
    text-decoration:line-through;
}
form{
    float: left;
    margin: 5%;
}
form .heading{
    text-align: center;
    margin-bottom: 5%;
}
form .donatebtn{
    float: none;
    margin-top: 2%;
}

#collab-headding{
  margin-left: 5%;
  margin-bottom: 2%;
  font-weight: bold;
}
/*Collapsible infomation css
Hide the checkbox item from page*/
input[type='checkbox']{
  display: none;
}

.lbl-toggle{
  display: block;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  padding: 2%;
  color: #1d236f;
  background: #ed7966;
  cursor: pointer;
  border-radius: 7px;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content{
  padding: 2%;
}
/*Setting the heading tag, to have less space between the item
under eiter*/
.content h2{
  margin-bottom: -1%;
}
.content h2 h4 p{
  text-align: justify;
}
.mainimage-laps{
  height: 300px;
}
.content .peoplelibary{
  padding: 2%;
  margin-bottom: 0;
}
.content .peoplelibary img{
  width: 70%;  
}
.content .peoplelibary .subheading{
  font-weight: bold;
  text-align: justify;
}
.collapsible-content {
  /*Max height make so the label can collapse,
  0 = close*/
  max-height: 0px;
  overflow: hidden;
  background-color: #eebcb4;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#festivalsub{
  text-align: center;
  margin-bottom: 1%;
}
#textjustify{
  text-align: justify;
  margin-right: 15%;
}
#itemcenter{
  margin-left: 7%;
}

#supporterimg{
  height: 500px;
}




/*When the screen is below 600px width size,
the site changes to fit screen*/
 @media screen and  (max-width: 600px ) {
   /*all the a tag in nav but the first tag (which is home) change
   display to none and is no longer visable*/
   .navbar a:not(:first-child),.dropdown .dropbtn, .header .flex-footer a:not(:first-child), .header .donatebtn{
     display: none;
   }
   /*The resopisive sandwitch icon appear in the place of the other
   icon and is on the right of screen*/
   .navbar a.icon{
     float: right;
     display: block;
   }
   /*the new class resposive is effect by the javascript and putting all 
   the hidden links into colunms and inside the icon link.*/
    .navbar .responsive{position: relative;}
    .navbar .responsive a.icon{
      position: absolute;
      right: 0;
      top:0;
    }
    /*Setting the item in the navbar, to not float allowing for each
    item to be on it own line*/
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    /*Doing changing setting of the dropdown menu, to also be able to
    be in the responsive nav bar*/
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
    }
   #homevideo{
     min-width: 50%;
    
   }
    
  }
  @media screen and  (max-width: 400px ){
    #end-edge{
      margin-right: 20%;
    }
    .navbar a.icon{
      float:none;
    }
  }