*{
    margin: 0;
    padding: 5px;
}
body
{
    background-color: aqua;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
  
}
h1
{
    color: darkorchid;
    font-weight: 500%;
    font-size: 100px;
    font-style: normal;
}
li{
    align-items:center ;
}
a:link{
    text-decoration: none;
    
}